
@{
    Layout = "_Layout";
}



<section class="d-flex flex-column align-items-center">
    <h1>HOŞ GELDİNİZ!</h1>
    <h4>Wb-6 Grubu Projesi</h4>
    <p>Bu prohe MVC yaklaşımı ile hazırlanmıştır</p>
</section>